/* HOME */
.nav_item img {
  width: 88px;
  height: 88px;
}
.recommend {
  margin-top: 10px;
  background: #fff;
}
.home-title {
  padding: 10px;
  font-weight: bold;
}
.home-title img {
  width: 20px;
  height: 20px;
}

.recommend-section {
  width: 100%;
}
.recommend-section .master-img {
  width: 365px;
  padding: 5px;
}
.recommend-section .second-img {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.recommend-section .second-img img {
  width: 178px;
  height: 100px;
}
